body{
margin: 0;
    background-color: rgba(126, 125, 125, 0.11);
}

.body1{
    overflow: hidden;
    background-color: black;
}

button{

    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;

    margin: 4px 2px;
    cursor: pointer;
}

.HS{
    position: fixed;
    left: 43%;
    top: 25%;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid white;
}

.HS, a{
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.HS:hover{
    color: gold;
    transition: color 1s;

}

.SinglePlayer {
    position: fixed;
    left: 42%;
    top: 50%;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid white;
}

.SinglePlayer, a{
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.SinglePlayer:hover{
    color: gold;
    transition: color 1s;

}

.Mbutton{
    position: fixed;
    left: 70%;
    top: 50%;
    border: 4px solid white ;
    border-radius: 10px;
    font-size: 20px;
}

.Mbutton, a{
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.Mbutton a:hover{
    color: gold;
    transition: color 1s;

}

.Lbutton{
    position: fixed;
    left: 20%;
    top: 50%;
    color: black;
    border-radius: 10px;
    font-size: 20px;
    border: 4px solid white;
}

.Lbutton, a{
    text-decoration: none;
    font-family: fantasy;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}

.Lbutton a:hover{
    color: gold;
    transition: color 1s;}


body{
    margin: 0;
    background-color: rgba(126, 125, 125, 0.11);
}
.log-uit{
    float: right;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 45px;
}

.log-uit a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
}





.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    border: 3px solid black;
}
.u-lose {
    width: 100%;
    height: 40%;
    margin-left: 28%;

}
.navigation{
    margin-left: 38%;
    font-size: 4em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}



.login{
    text-align: center;
    margin-top: 200px;
    font-size: 20px;
    text-decoration: none;
}

.login a{
    text-decoration: none;

}

input[type=text], input[type=password] {
    width: 50%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: white;
}

#button{
    background-color: blue;
    color: white;
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    font-weight: bolder;
}

.login label{
    font-weight: bolder;
    font-size: 25px;
    color: black;

}
.navigation a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}


.containerHighscore{
    display: flex;
    flex-direction: column;
}
.highscores table{
    border: 3px solid black;
    border-collapse: collapse;

}
.highscores table tr td , th{
    border: black 2px solid;
    padding: 5px 15px;
}
.titleH1{
    display: flex;
    justify-content: center;
}
.highscores{
    display: flex;
    justify-content: center;
}