body{
margin: 0;
    background-color: rgba(126, 125, 125, 0.11);
}
.log-uit{
    float: right;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 45px;
}

.log-uit a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
}

button {
    border-radius: 40px;
    padding: 40px 150px;
    margin-left: 275px;
    margin-top: 375px;
    border: 5px solid black;
    background-color: grey;
}

button a{
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 5px;
}

button a:hover{
    transition: color 1s;
    color: white;
}

.login{
    text-align: center;
    margin-top: 300px;
    font-size: 20px;
    text-decoration: none;
}

.login a{
    text-decoration: none;
}