body{
margin: 0;
    background-color: rgba(126, 125, 125, 0.11);
}
.log-uit{
    float: right;
    margin-right: 20px;
    font-weight: bolder;
    font-size: 45px;
}

.log-uit a{
    text-decoration: none;
    color: black;
    font-family: fantasy;
}

button {
    border-radius: 40px;
    padding: 40px 150px;
    margin-left: 275px;
    margin-top: 375px;
    border: 5px solid black;
    background-color: grey;
}

button a{
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 5px;
}

button a:hover{
    transition: color 1s;
    color: white;
}

.login{
    text-align: center;
    margin-top: 300px;
    font-size: 20px;
    text-decoration: none;
}

.login a{
    text-decoration: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    border: 3px solid black;
}
.u-lose {
    width: 100%;
    height: 40%;
    margin-left: 28%;

}
.navigation{
    margin-left: 38%;
    font-size: 4em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navigation a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}


.containerHighscore{
    display: flex;
    flex-direction: column;
}
.highscores table{
    border: 3px solid black;
    border-collapse: collapse;

}
.highscores table tr td , th{
    border: black 2px solid;
    padding: 5px 15px;
}
.titleH1{
    display: flex;
    justify-content: center;
}
.highscores{
    display: flex;
    justify-content: center;
}